.welcome-message{
  font-size : 2.5em;
  background-color: green;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
}

.login-prompt{
  font-size : 2.5em;
  background-color: red;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
}

.list-category{
  font-size: 2.5em;
  font-weight: bold;
  color: rgb(56, 55, 55);
  margin-bottom: 10px;
  text-align: center;
  border: 3px;
  border-radius: 5px;
  background-color: rgb(101, 161, 109);
}

.list-items li{
  font-size: 2em;
  list-style: none;
  color: rgba(0, 0, 0, 0.24);
  text-align: center;
  margin: 0;
}
.list-items li:hover{
  color: rgba(0, 0, 0, 0.514);
  cursor: pointer
  
}